.k
{

    width: 70%;
.gallery
{
    display: flex;
    width: 70rem;
    .element
    {
        text-align: center;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        img 
        {
            width: 3rem;
            height: 3rem;
        }
    }
}
}